.navBar {
    border: 2px solid #000000;
    display: flex;
    justify-content: last baseline;
    background: #eacda3;
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
    background: linear-gradient(to right, #d6ae7b, #eacda3);

    .cajita {
        border: 2px solid red;

        img {
            margin: 0.2rem 0.5rem;
            width: 8%;
        }
    }

    .boton {
        margin-right: 30rem;
        margin-top: auto;
        margin-bottom: auto;
    }
}